<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="Listeners.ListenerClass"/>
        <listener class-name="Listeners.MethodInterceptor"/>
    </listeners>
    <test thread-count="2" name="Test" parallel="methods">
        <classes>
            <class name="tests.LoginPageTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.CheckoutCompleteTest"/>
            <class name="tests.FilterProductTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
